In [1]:
#Importing necessary libraries. Will import all the ML model libraries later.
#The following code is strictly to test the classification models I will be using and see what their accuracy score is before feature engineering and optimization.

import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('cleaned_wine_data.csv')

df.drop('Unnamed: 0', axis=1, inplace=True)

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1357 entries, 0 to 1356
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1357 non-null   float64
 1   volatile acidity      1357 non-null   float64
 2   citric acid           1357 non-null   float64
 3   residual sugar        1357 non-null   float64
 4   chlorides             1357 non-null   float64
 5   free sulfur dioxide   1357 non-null   float64
 6   total sulfur dioxide  1357 non-null   float64
 7   density               1357 non-null   float64
 8   pH                    1357 non-null   float64
 9   sulphates             1357 non-null   float64
 10  alcohol               1357 non-null   float64
 11  quality               1357 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 127.3 KB

In [5]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000,1357.000000
mean,8.311201,0.529816,0.271732,2.514886,0.088180,15.861459,46.477155,0.996714,3.310228,0.658924,10.429563,0.134119
std,1.738199,0.182954,0.195052,1.334976,0.049392,10.421941,32.171729,0.001865,0.154722,0.170697,1.080481,0.340906
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,0.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,0.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996700,3.310000,0.620000,10.200000,0.000000
75%,9.200000,0.640000,0.430000,2.600000,0.091000,21.000000,63.000000,0.997820,3.400000,0.730000,11.100000,0.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,165.000000,1.003690,4.010000,2.000000,14.900000,1.000000

In [6]:
X = df.drop(['quality'], axis=1)
Y = df['quality']

In [7]:
scaler = StandardScaler()

X = scaler.fit_transform(X)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=42, test_size=0.2)

In [8]:
def modelaccuracy(model):
    model.fit(X_train, Y_train)
    result = accuracy_score(Y_test, (model.predict(X_test)))
    print(f'Model Accuracy is {result}')

In [9]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=42)

modelaccuracy(lr)

Model Accuracy is 0.8860294117647058

In [10]:
from sklearn.tree import DecisionTreeClassifier

tree_model = DecisionTreeClassifier(random_state=42)

modelaccuracy(tree_model)

Model Accuracy is 0.8419117647058824

In [11]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=42)

modelaccuracy(rfc)

Model Accuracy is 0.9154411764705882

In [12]:
from sklearn.svm import SVC

clf = SVC(random_state=42)

modelaccuracy(clf)

Model Accuracy is 0.9154411764705882

In [13]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

modelaccuracy(knn)

Model Accuracy is 0.8860294117647058

In [14]:
from sklearn.naive_bayes import GaussianNB

nbc = GaussianNB()

modelaccuracy(nbc)

Model Accuracy is 0.8088235294117647